
# CLOVA
CLOVASTUDIO_API_KEY=
CLOVAX_MODEL_NAME=

# Neo4j
NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=

# Qdrant
QDRANT_HOST=
QDRANT_PORT=

# Vector Embedding
MODEL_NAME=
VECTOR_DIMENSION=
EMBEDDING_API_URL=